@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@require "./text-panel/main.styl"
@require "./_defs.styl"

.left-panel
  position relative
  max-height calc(100vh - 2em)
  overflow-y scroll

.expanded
  .scroll-pane
    overflow-y scroll
    position relative
    height 100%
  .panel-main
    min-width: 15em


.panel-main
  display flex
  flex-direction: column
  width 100%
  color lighten(black, 30%)

.panel-content
  position relative

.title-block, .panel-body
  padding-left var(--main-padding)
  padding-right var(--main-padding)

.title-block
  padding var(--main-padding)
  padding-bottom calc(var(--main-padding) * 0.75)
  position sticky
  background lighten(red, 95%)
  top 0
  svg
    fill var(--accent-dark)


.expanded .title-block
  margin-bottom 4px
  border-bottom 1px solid #ccc
  z-index 10

.left-panel
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out
  //overscroll-behavior: none
  animation: hide-scroll 0.3s backwards;

@keyframes hide-scroll {
  from, to { overflow: hidden; } 
}

.panel-body
  display none
  flex 1
  padding-bottom var(--main-padding)

.expanded
  .title-block
    padding-bottom 0.5em
    border-bottom 1px solid var(--accent-background)
  .panel-body
    display: block

:global
  *
    box-sizing: border-box;

  p, ul, dl, label, div
    font-family: var(--main-font)


  h3
    margin 0.75em 0 0.5em

  body
    margin 0
    padding 0
    font-size 16px
    line-height: 1.5

  p
    text-align: justify;

  // links
  a
    color var(--accent-dark)
    &:visited
      color var(--accent-darker)

  ul
    padding-left 1em

  code
    font-family: "Source Code Pro", mono
    font-weight 400

  .leaflet-container
    height: 100vh

  // .cesium-viewer
  //   cursor move

  div.lower-right
    z-index: 5
    position fixed
    right 5
    bottom 5
    max-width 300px

  .cesium-credit-logoContainer
    display none !important

  div.positions-panel
    a.fly-to
      color: var(--accent-color)
      cursor: pointer

  .copy-position-button, .show-ui-button
    z-index: 50
    position: absolute;
    text-decoration: underline;
    cursor pointer
    // emulate Cesium's default text shadow
    text-shadow: rgb(0, 0, 0) 0px 0px 2px

  .copy-position-button
    color: white
    left 80px
    bottom 2.5px
    font-size 10px


  .show-ui-button
    top 2px
    left 10px
    font-weight bold
    color: var(--accent-color)

  .ui-button
    margin-right: 0.6em 

  .distance-legend
    background: transparent !important
    border: none !important

    .distance-legend-scale-bar
      border-left-color: white
      border-right-color: white
      border-bottom-color: white
      border-width: 2px

    .distance-legend-label
      font-family: var(--main-font)
      font-weight 500

  .map-sources
    h4
      margin 0
    font-size 0.8em
    padding 0 1em
    ul
      margin-top 0
      list-style none
      padding-left 0

  #changelog
    font-size 0.8em
    color #444
    line-height 1em
    h1, h2, h3, h4
      font-weight 600
    h1
      font-size 1.4em
    h2
      font-size 1.2em

.app-ui, .main-map
  width: 100vw
  overflow-x: hidden;
  height 100vh
  overflow-y: hidden

.right
  flex-grow 1
  position relative

.layer-button
  margin-bottom 0.5em

.main-ui
  position: fixed
  z-index 10
  top 0em
  left 0em
  bottom 0
  display flex
  height 100vh
  pointer-events: none
  .left-panel
    pointer-events: all
    background: white
    border-radius: 6px
    max-height: 100%

  .left-stack
    position relative
    max-height 100%
    margin: 1.5em 1em
  .spacer
    flex-grow 1
  .panel-main, .modal-content
    width: fit-content
    p
      min-width: 20em
  position relative

:global(.bp3-numeric-input)>*
  flex: 1


@media screen and (max-width 600px)
  .app-ui
    flex-flow: column-reverse;
    width 100vw

  .left
    height 45vh
    width 100%
    max-width: none;
    .left-panel
      height 45vh

nav
  text-align: center
  ul
    list-style none
    display flex
    flex-direction row
    align-items space-between
    padding-left: 0
    margin-left 2em
    margin 0
    margin-right: -0.25em
    justify-content: center
  li
    vertical-align: baseline
    a
      link_button()
      font-size 1.2em

.positions-panel
  color: #ccc !important
  &:visited
    color: #ccc
  &.is-active
    background-color #eee

.description
  line-height 1.2
  font-weight 300
  color #888

.title-block
  display flex
  flex-direction row
  align-items baseline
  justify-content: space-between
  margin-left -0.25em
  line-height 1
  h1,h2,h3,h4
    margin-bottom 0
    margin-top 0
    padding-bottom 0
    font-weight: 500
    line-height: 1.0
  .title
    font-size 1.4rem
    font-weight 500
  a
    text-decoration: none
  .subtitle
    padding-top 0
    font-weight 300
    color #888
.auth-affil
  //display flex
  //flex-direction: row
  //justify-content baseline
  //align-items: space-between
  font-weight 300
  color #888
  .author
    min-width 40%
    margin-right 1em
    font-weight 600
    font-style italic
  .affiliation
    font-size 0.9em
.software-info, .page-controls
  color #888
  font-weight 300
  font-size 0.8em
  p
    margin 0.4em 0 0.2em



.control .selected
  font-weight 600

.unit-result
  display flex
  flex-direction: row
  align-content: center
  line-height 1
  margin-bottom 1em
  h4
    margin-top 0
    margin-bottom 0.2em
  .unit-swatch
    width 40px
    height 40px
    border-radius: 4px
    margin-right 1em